{% extends "pages/base.html" %}
{% block meta %}
  <meta name="google-site-verification" content="Q6ug8IV1NgZO5OyiIzpeKfgUQ1AhIwzj2KS0QwSzUbs" />
	<title>Amal's Website</title>
{% endblock meta %}
{% block content %}
	<h1>Amal Irfan</h1>
	<hr>
	<p>yup, that's me!</p>
	<p>
		I am an aspiring computer enthusiast&mdash;yes I gave
		myself that title.
	</p>
	<p>
		this website provides:
	</p>
	<ul>
		<li>
			<a href="about/">About</a>: about my humble self
		</li>
		<li>
			<a href="blogs/">Blogs</a>: great creations of yours truly
		</li>
		<li>
			<a href="/">Home</a>: this page ofcourse
		</li>
	</ul>
{% endblock content %}
{% comment %}
vim: ts=2 sw=2
{% endcomment %}
