:root {
 --fg: #05050a;
 --bg: #ffffff;
 --primary: rgb(207, 67, 16);
 --secondary: #7f3315;
 --accent: #0a0a5a;
}
body {
  color: var(--fg);
  background-color: var(--bg);
}
hr {
 border-color: var(--accent);
 border-style: solid;
}
a {
 color: var(--primary);
 &:visited {
  color: var(--secondary);
 }
}
:is(h1,h2,h3,h4,h5,h6) {
 color: var(--accent);
}
