{% extends "contents/base.html"%}
{% block meta %}
	<title>Spiral At Work</title>
	<meta name="description" content="A blog showing off my failure of a game project"/>
{% endblock meta %}
{% block content %}
<h1>Spiral At Work: A new game</h1>
<hr>
<ul>
	<li>up: <a href="../">Blogs</a></li>
</ul>
<p>
	This a little game I started making using <a href="https://www.raylib.com/">raylib</a> and c++.
	You can checkout the prototype at <a href="https://amal112358.itch.io/spiral-at-work">itch.io</a>.
	Some update about it on my <a href="https://x.com/amal112358">twitter</a>.
</p>
<p>
	Incomplete blog
</p>
{% endblock content %}
{% comment %}
vim: ts=2 sw=2
{% endcomment %}
